body {
    font-family: Georgia, serif;
    font-size: 15px;
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-size: 42px;
    font-weight: 400;
    display: inline;
}

h2 {
    font-size: 26px;
    font-weight: 300;
}

h1, h2, .top_menu li {
    font-family: Helvetica, sans-serif;
}

a, a:visited {
    text-decoration: none;
    color: purple;
}

a:hover {
    text-decoration: underline;
    color: red;
    background-color: yellow;
}

header, footer {
    background-color: aqua;
}

header {
    margin: 30px 0;
    padding: 20px;
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

footer {
    font-size: 15px;
    clear: both;
    margin-bottom: 30px;
    padding: 10px 20px;
}

ul.top_menu {
    position: absolute;
    display: inline;
    right: 29.5%;
    padding-top: 7px;
}

.top_menu li {
    padding-bottom: 5px;
    font-size: 16px;
}

.container {
    display: inline-block;
    margin: 0 20px;
    width: 100%;
}

.caption {
    font-size: small;
}

.bio {
    line-height: 30px;
    max-width: 65%;
}

.widget {
    width: 26%;
    float: right;
}

.widget_menu {
    margin-bottom: 8px;
}

.main_column {
    width: 74%;
}

.clip_entry {
    margin: 0;
}

.clip_link {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 0;
}

.clip_content {
    float: left;
}

.clip_description {
    margin-left: 20px;
    max-width: 488px;
    padding-bottom: 40px;
}

.headshot {
    width: 26%;
    float: right;
    margin: auto 0 auto 40px;
}