body {
	font-family: Georgia, serif;
	font-size: 18px;
	width: 70%;
	margin: 0 auto;
	position: relative;
}

h1 {
	font-size: 50px;
	display: inline;
	font-weight: 400;
}

h2 {
	font-size: 30px;
	font-weight: 300;
	margin: 0 0 20px 0;
}

h1, h2, .top_menu li {
	font-family: Helvetica, sans-serif;
}

a, a:visited {
	text-decoration: none;
	color: purple;
}

a:hover {
	text-decoration: underline;
	color: red;
	background-color: yellow;
}

header {
	position: relative;
	margin: 60px 0 30px 0;
	padding: 15px 0 15px 20px;
	background-color: aqua;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

figure {
	margin: 0;
}

figcaption {
	display: inline;
	float: left;
	max-width: 500px;
}

footer {
	background-color: aqua;
	width: 100%;
	font-size: 15px;
    position: absolute;
    top: 2100px;
    padding-left: 20px;
    margin-bottom: 60px;
}

ul.top_menu {
	position: absolute;
	display: inline;
	margin: 13px 0;
	right: 185px;
}

.top_menu li {
	padding-bottom: 5px;
	font-size: 16px;
}

.clip_entry img {
	float: left;
}

.clip_entry figcaption p {
	margin: 0 0 20px 30px;
}

.container {
	position: relative;
	padding-top: 20px;
}

.left_col {
	width: 68%;
	margin: 0 60px 30px 0;
	padding-left: 20px;
}

.right_col {
	position: absolute;
	width: 22%;
	top: 0;
	right: 20px;
	padding-top: 20px;
}

.caption {
	font-size: small;
}

.clip_entry {
	position: absolute;
}

.clip_link {
	font-family: Helvetica, sans-serif;
	font-weight: 300;
}

.widget {
	padding: 10px 0 0 0;
}

.side_menu {
	margin-bottom: 8px;
}

#bio {
	line-height: 30px;
}

#headshot {
	top: 55px;
}

#clip_wrap {
	position: relative;
}

#clips, #find_me {
	margin-top: 20px;
}

#ai {
	top: 10px;
}

#etsy {
	top: 173px;
}

#hamlet {
	top: 337px;
}

#iroko {
	top: 501px;
}

#consensys {
	top: 665px;
}

#blackflix {
	top: 850px;
}

#bitcoin {
	top: 1013px;
}

#toms {
	top: 1177px;
}

#pg {
	top: 1341px;
}

#graphic {
	top: 289px;
}