h1 a, h1 a:visited, h1 a:hover {
	text-decoration: none;
	color: black;
	background-color: transparent;
}

figure {
	position: relative;
	margin: 50px 0;
}

figure img {
	min-width: 350px;
	max-width: 70%;
}

main p {
	line-height: 30px;
	max-width: 95%;
}

.before, .after {
	border: 5px purple solid;
}

.before {
	position: absolute;
	left: 0;
	z-index: 1;
}

.after {
	z-index: 0;
}