h1 a, h1 a:visited, h1 a:hover {
	text-decoration: none;
	color: black;
	background-color: transparent;
}

main p {
	line-height: 30px;
}

figure {
	position: relative;
	margin: 50px 0;
}

.container {
	max-width: 960px;
}

.before, .after {
	border: 5px blue solid;
}

.before {
	position: absolute;
	left: 0;
	z-index: 1;
}

.after {
	z-index: 0;
}