h1 a, h1 a:visited, h1 a:hover {
	text-decoration: none;
	color: black;
	background-color: transparent;
}

h3 {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 10px;
}

figure {
	margin: 30px 0 0 0;
}

.download {
	font-size: small;
	margin: 0 0 40px 0;
}

.entry {
	margin-bottom: 30px;
}

.last {
	margin-bottom: 50px;
}

.company {
	margin: 40px 0 30px 0;
}

.job-title {
	margin: 20px 0 5px 0;
}

.training-description {
	margin: 10px 0 25px 0;
	font-style: italic;
}

.date {
	color: grey;
	font-size: 16px;
	margin-top: 2px;
	display: block;
}

.widget img {
	width: 100%;
    min-width: 150px;
}

#resume-head {
	margin-bottom: 10px;
}