h1 a, h1 a:visited, h1 a:hover {
	text-decoration: none;
	color: black;
	background-color: transparent;
}

main {
	padding: 0 20px;
}

h2 {
	padding-top: 10px;
}

h3 {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 10px;
}

footer {
	top: 1320px;
}

#sidebar h2 {
	padding-bottom: 0;
}

.left_col {
	padding-left: 0;
}

.download {
	font-size: small;
	margin: 0 0 40px 0;
}

.resume{
	margin-bottom: 30px;
}

.entry_head {
	position: relative;
}

.date {
	position: absolute;
	left: 430px;
	color: grey;
	font-size: 16px;
	margin-top: 2px;
}

#resume_hed {
	margin-bottom: 10px;
}

#headshot {
	top: 175px;
}

#sidebar {
	position: absolute;
    top: 510px;
}